*~
autom4te.cache/*
Makefile
config.h
stamp-h1
config.log
config.status
Makefile.in
aclocal.m4
config.h.in
config/ar-lib
config/test-driver
configure
m4/Makefile.in
src/Makefile.in
GangSTR
src/.deps/
*.o
*.tar.gz
depcomp
install-sh
missing
