.version
config/compile
config/config.guess
config/config.sub
config/ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
old/
*_names.txt
notes.txt
*.log
test-driver
*.trs
misc/
*#*
GangSTRTests
*~
*#
autom4te.cache/*
Makefile
config.h
stamp-h1
config.log
config.status
Makefile.in
aclocal.m4
config.h.in
config/ar-lib
config/test-driver
configure
m4/Makefile.in
src/Makefile.in
GangSTR
src/.deps/
*.o
*.a
*.tar.gz
depcomp
install-sh
missing
ar-lib

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vscode

build/